.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.col-1 {
    width: 8.33%;
}
.col-2 {
    width: 16.66%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.33%;
}
.col-5 {
    width: 41.66%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.33%;
}
.col-8 {
    width: 66.66%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.33%;
}
.col-11 {
    width: 91.66%;
}
.col-12 {
    width: 100%;
}
.start {
    justify-content: flex-start;
    text-align: start;
}
.center {
    justify-content: center;
    text-align: center;
}
.end {
    justify-content: flex-end;
    text-align: end;
}
.top {
    align-items: flex-start;
}
.middle {
    align-items: center;
}
.bottom {
    align-items: flex-end;
}
.around {
    justify-content: space-around;
}
.between {
    justify-content: space-between;
}
.first {
    order: -1;
}
.last {
    order: 1;
}
.col-offset-1 {
    margin-right: 8.333%;
}
.col-offset-2 {
    margin-right: 16.667%;
}
.col-offset-3 {
    margin-right: 25%;
}
.col-offset-4 {
    margin-right: 33.333%;
}
.col-offset-5 {
    margin-right: 41.667%;
}
.col-offset-6 {
    margin-right: 50%;
}
.col-offset-7 {
    margin-right: 58.333%;
}
.col-offset-8 {
    margin-right: 66.667%;
}
.col-offset-9 {
    margin-right: 75%;
}
.col-offset-10 {
    margin-right: 83.333%;
}
.col-offset-11 {
    margin-right: 91.667%;
}
@media only screen and (max-width: 768px) {
    .col-1,
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-7,
    .col-8,
    .col-9,
    .col-10,
    .col-11,
    .col-12 {
        width: 100%;
    }
    .col-offset-1,
    .col-offset-2,
    .col-offset-3,
    .col-offset-4,
    .col-offset-5,
    .col-offset-6,
    .col-offset-7,
    .col-offset-8,
    .col-offset-9,
    .col-offset-10,
    .col-offset-11 {
        margin-right: 0%;
    }
}